
/* background: linear-gradient(90deg, #457d58 0%,#0f5f53 100%); */

.nav{
  background: linear-gradient(to right, #a9dd84  50%, #f6f6e9 50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.navtext{
  margin-top: 1rem;
  color: #3A3835;
  font-size:2.5rem;
  line-height:2rem;
  display:inline;
}
.navlogo{
  display:flex;
  align-items:center;
}
.logo{
  margin: 1rem 1rem 0rem 5rem;
  width: 4rem;
}
@media screen and (max-width:960px){
  .nav{
    position: relative;
    min-height: 55px;
  }
  .navlogo{
    position: absolute;
  }
  .logo{
    width: 2.5rem;
  }
  .navtext{
    font-size: 1.8rem;
  }
}


.navlinks:hover{
}
