.layout{
    /* padding-top: 100px; */
    /* min-height: 88vh; */
    /* background-color: rgb(224 224 224 / 15%); */
  }

.navlinks{

}
.navlink{
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin:0;
  padding:0;
  width:25%;
}



.navlinkactive{

}

.navlinksdetail{
  text-decoration:none;
  color:#3A3835;
  font-size: 1.2rem;
}

.navlinksdetail:hover{
  color:#3A3835;
  font-size: 1.3rem;
  text-decoration:none;
  transition: all 0.1s ease-out;
}

.menuicon{
  display: none;
}

@media screen and (max-width:960px){
  .navlink{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top:50px;
    left: -100%;
    transition: all 0.5s ease;
    z-index: 1;
    background-color: #457d58;
  }

  .navlinkactive{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    height: 100vh;
    top:50px;
    background-color: #457d58;
    left: 0;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .navlinksdetail{
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .navlinksdetail:hover{
    color: #457d58;
    text-decoration:none;
    background-color: white;
    border-radius: 0;
  }
  .menuicon{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%,60%);
    cursor: pointer;
  }

}